p{
    margin: 20px;
    font-size: 40px;
    border-radius: 11px;
    background-color: white;
    width: 190px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.counter{
    display: flex;
}
h1{
  text-align: center;
}

.button1, .button2 {
    width: 190px;
    height: 70px;
    font-size: 20px;            
    border-radius: 11px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
}

.button1 {
    background-color: green;
}

.button2 {
    background-color: red;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container > div:last-child {
    display: flex;
    justify-content: center;
    gap: 20px;

}
.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.main-container {
    background-color: lightgray;
    width: 500px;
    height: 200px;
    height: max-content;
    padding-bottom: 20px;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}