body{
background: #E0FFFF;
color: #333;
font-size: 16px;
font-family: Verdana, sans-serif;
margin-bottom: 20px;
 display: flex;
flex-direction: column;      
justify-content: center;     
align-items: center;        
min-height: 100vh;           
gap: 50px;  

}